.new-form {
    width: 30%;
    margin: 30px auto;
}

.new-page h1{
    text-align: center;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 9px;
}

.delete-form {
    display: inline;
}